<% provide(:title, "About") %>

<h1>About Fitter</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio temporibus doloribus enim mollitia laudantium laborum recusandae illo, numquam repudiandae tenetur, hic omnis, eligendi nisi facilis possimus quo expedita cumque.</p>