<% provide(:title, "Home") %>

<div class="center jumbotron">
    <h1>Fitter</h1>

    <h2>This application is to post and search fitness results!</h2>

    <%= link_to "Register New Account", '#', class: "btn btn-lg btn-primary" %>

    
</div>
